.cartContainer{
    min-height: 90vh;
    max-width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cartContainer .cartDetails{
    text-align: center;
}


.userCartProd{
    width: 100px;
    height: 100px;
    object-fit: cover;
}