* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width:1000px) {
    .loginContainer {
        background-image: url("../images/5865.jpg");
        background-position: 0% 15%;
        background-size: 500px 500px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 90vh;
    }
}

@media screen and (max-width:1000px) {
    .loginContainer {
        background-image: url("../images/5865.jpg");
        background-position: 50% 100%;
        background-size: 200px 200px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 85vh;
    }
}


.loginContainer .formlog {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;

}

.loginContainer .formlog form {
    max-width: 80%;
    margin: 20px auto;
}

.errormsg {
    color: red;
}

.previewContainer {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100px, 100%), 1fr));
    gap: 10px;
    margin-top: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.imgPreview {
    width: 300px;
    display: inline-block;
    position: relative;
}

.imgPreview img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.deleteImg {
    position: absolute;
    top: -20px;
    left: -20px;
    font-size: 20px;
    cursor: pointer;
}