.navbarLink {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.navbarLink:hover {
    color: gold;
}

.navAlign{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}